<div id="landingContainer">

  <div class="row landingRowOne">
      <div class="centerTop">
        <img src="logo.png" height="60px" alt="">
        <p ng-if="!showAddLogin" id="vowelsSuck">Because vowels are a waste of time</p>
        <div ng-if="showAddLogin" class="signupFormsLanding">
          <form class="form-signin" name="loginForm" ng-submit="login(email, password)">
            <input ng-model="email" type="email" id="inputEmailLanding" class="form-control register" placeholder="Email address" required autofocus>
            <input ng-model="password" type="password" id="inputPasswordLanding" class="form-control register" placeholder="Password" required>
            <button ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block landingLoginButton" type="submit">Login</button>
            <p id="redirectMessageLanding">Will redirect to Lobby if successful</p>
          </form>
          <span ng-if="success">Logged in!</span>
            <span ng-if="fail">Failed: {{fail}}</span>
        </div>
      </div>
      <a id="loginThing" ng-click="showAddLogin = !showAddLogin">Login</a>
      <a href="#" ui-sref="register">Register</a>
  </div>

  <div class="row landingRowTwo">
    <div class="graph">
      <img src="timeGraph.png" height="350px" alt="">
    </div>
  </div>

  <div class="row landingRowThree">
    <div class="thirdBarLanding">
      <p>CHT th frst nd nly <br> CHT srvc wth n vwls llwd <br> t sv y tm <br> spnd 30% lss tm rdng thn wth cmpttrs</p>
    </div>
  </div>

</div>
