html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, html {
  height: 100%;
  overflow: hidden;
}
.sidebar {
  min-width: 200px;
  max-width: 300px;
  background-color: #443242;
  height: 96vh;
  padding-top: 15px;
  width: 25%;
  z-index: 1;
}
.chatSection {
  background-color: white;
  min-width: calc(100% - 300px);
  height: 94vh;
  overflow: scroll;
}
.chatInp {
  z-index: 0;
}
.topBar {
  overflow: hidden;
  background-color: #6184DB;
  height: 80px;
}
span.currentRoom {
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  margin-left: 25px;
}
.topBar div{
  color: black;
  margin-left:auto;
  margin-right:0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
ul#chatLog.list-group li.list-group-item{
  background-color: white;
}
.bottomAlign {
  margin: 15px 15px 15px 0;
  position: absolute;
  top: 0;
  left: 15px;
}
.glyphicon.glyphicon-plus-sign {
  font-size: 22px;
  transform: translateY(5px);
  margin-left: 5px;
}
.glyphicon.glyphicon-menu-hamburger {
  display: none;
}
#addChannel {
  transform: translateX(10px);
  height: 30px;
  line-height: 30px;
  color: #9A8998;
  font-size: 16px;
}
div.col-xs-3 img {
  margin-left: 90%;
}
div.col-xs-6 a {
  transform: translateY(-10px);
  margin-right: 30px;
  position: absolute;
  right: 0;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
span.loggedInAs {
  transform: translateY(-30px);
  margin-right: 30px;
  position: absolute;
  right: 0;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
span.loggedInAs a {
  margin: 8px 50px 0 0;
}
.channelList {
  margin-top: 10px;
  z-index: 0;
}
.channelAdd {
  margin-top: 10px;
}
.channelError {
  margin-top: 10px;
  color: #F68657;
  text-align: center;
}
.loginToChat {
  margin: auto;
  width: 180px;
  font-size: 16px;
  color: #F68657;
  margin-top: 10px;
}
.loginToAdd {
  margin: auto;
  width: 142px;
  font-size: 16px;
  color: #F68657;
  margin-top: 10px;
  margin-bottom: -10px;
}
.list-group-item {
  overflow: hidden;
}
li.list-group-item.ng-scope.activeChannel a {
  color: white;
}
li.list-group-item.ng-scope.activeChannel a:hover {
  color: #E0F7FF;
}
li.list-group-item.ng-scope.activeChannel {
  background-color: #438B7E;
  border-radius: 8px;
}
li.list-group-item.ng-scope a {
  color: #9A8998;
  text-decoration: none;
  white-space: nowrap
}
li.list-group-item.ng-scope a:hover {
  color: #848998;
}
.list-group li {
  background-color: #443242;
  border: none;
}
.signupForms {
  transform: translateY(140%);
  text-align: center;
  margin: auto;
  height: 198px;
  width: 300px;
}
.gravImg img {
  border-radius: 5px;
}
.gravImg {
  display: inline-block;
}
.chatContainer {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  width: 100%;
}
.chatContent {
  width: 90%;
  max-width: 800px;
  display: inline-block;
  vertical-align:top;
}
.chatName {
  font-weight: 900;
  font-size: 15px;
}
.chatTime {
  font-weight: 200;
  font-size: 12px;
  color: #B8B7BD;
}
.form-control.register {
  margin-bottom: 15px;
}
textarea.form-control {
  padding: 4px;
}
div button.btn.btn-lg.btn-primary.btn-block {
  margin-bottom: 15px;
}
div.signupForms.ng-scope a {
  margin: 0 20px 0 20px;
}
/*Landing page styling*/
.landingRowOne {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #6184DB;
  height: 225px;
}
.centerTop {
  width: 570px;
  margin: auto;
}
.centerTop img {
  transform: translate(300%, 50%);
}
#vowelsSuck {
  font-size: 28px;
  color: black;
  transform: translate(8%, 200%);
}
#loginThing {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  color: #443242;
  text-decoration: none;
}
.landingRowOne a {
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 18px;
  color: #443242;
  text-decoration: none;
}
#redirectMessageLanding {
  transform: translateX(22%);
}
#inputEmailLanding, #inputPasswordLanding, button.btn.btn-lg.btn-primary.btn-block.landingLoginButton{
  margin-top: 75px;
  display: inline-block;
  width: 225px;
}
button.btn.btn-lg.btn-primary.btn-block.landingLoginButton {
  background-color: #443242;
  width: 100px;
  margin-top: 10px;
}
.landingRowTwo {
  height: 300px;
}
.landingRowTwo img {
  transform: translate(-28%, -4%);
}
a#loginROOMS {
  transform: translateY(35%);
}
.graph {
  margin: auto;
  width: 250px;
}
.landingRowThree {
  background-color: #443242;
  height: 300px;
}
.thirdBarLanding {
  width: 600px;
  margin: auto;
}
.thirdBarLanding p {
  margin-top: 30px;
  text-align: center;
  color: White;
  font-size: 24px;
}
.thirdBarLanding strong {
  font-size: 30px;
}
/*Media query for smaller screens*/
@media (max-width: 800px) {
  .chatSection {
    transform: translateY(-102%);
    z-index: 0;
    min-width: 105%;
    margin-left: -20px;
  }
  .chatContent {
    width: 80%;
  }
div.ng-scope.last {
    padding-bottom: 16px;
  }
.sidebar {
  float: left;
  opacity: .2;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
  .topBar div {
    min-width: 75px;
  }
.glyphicon.glyphicon-menu-hamburger {
  font-size: 50px;
  display: block;
}
.showNav{
  min-width: 190px;
  opacity: .96;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.hideNav{
  opacity: .2;
  transform: translateX(-190px);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.bottomAlign {
  margin: 15px 15px 15px 22px;
}
span.currentRoom {
  display: none;
}
div.col-xs-3 img {
  margin-left: 50%;
}
}
}
