html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.sidebar {
  min-width: 200px;
  max-width: 300px;
  background-color: #443242;
  height: 92vh;
  padding-top: 15px;
  width: 25%;
  z-index: 1;
}
.chatSection {
  background-color: white;
  border-style: solid;
  height: 92vh;
}
.chatInp {
  z-index: 0;
}
.topBar {
  height: 8vh;
}
ul#chatLog.list-group li.list-group-item{
  background-color: white;
}
.bottomAlign {
  margin: 0 15px 15px 0;
  position: absolute;
  bottom: 0;
  left: 15px;
}
.glyphicon.glyphicon-plus-sign {
  font-size: 22px;
  transform: translateY(5px);
  margin-left: 5px;
}
.glyphicon.glyphicon-menu-hamburger {
  display: none;
}
#addChannel {
  transform: translateX(10px);
  height: 30px;
  line-height: 30px;
  color: #9A8998;
  font-size: 16px;
}
.channelList {
  margin-top: 10px;
  z-index: 0;
}
.channelAdd {
  margin-top: 10px;
}
.channelError {
  margin-top: 10px;
  color: red;
  text-align: center;
}
.list-group-item {
  overflow: hidden;
}
li.list-group-item.ng-scope.activeChannel a {
  color: white;
}
li.list-group-item.ng-scope.activeChannel a:hover {
  color: #E0F7FF;
}
li.list-group-item.ng-scope.activeChannel {
  background-color: #438B7E;
  border-radius: 8px;
}
li.list-group-item.ng-scope a {
  color: #9A8998;
  text-decoration: none;
  white-space: nowrap
}
li.list-group-item.ng-scope a:hover {
  color: #848998;
}
.list-group li {
  background-color: #443242;
  border: none;
}
#signup {
  transform: translateY(140%);
  text-align: center;
  margin: auto;
  height: 198px;
  width: 300px;
}
.gravImg img {
  border-radius: 5px;
}
.gravImg {
  display: inline-block;
}
.chatContainer {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
  width: 100%;
}
.chatContent {
  width: 90%;
  max-width: 800px;
  display: inline-block;
  vertical-align:top;
}
.chatName {
  font-weight: 900;
  font-size: 15px;
}
.chatTime {
  font-weight: 200;
  font-size: 12px;
  color: #B8B7BD;

}
.chatText {

}
@media (max-width: 800px) {
.sidebar {
  float: left;
  opacity: .2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
.glyphicon.glyphicon-menu-hamburger {
  font-size: 50px;
  display: block;
}
.showNav{
  transform: translateX(2px);
  min-width: 190px;
  opacity: .94;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.hideNav{
  opacity: .2;
  transform: translateX(-170px);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.bottomAlign {
  margin: 0 15px 15px 22px;
}
@media (max-width: 600px) {
  .chatContent {
    width: 80%;
  }
}
}
